
table thead td{
    width: 10%;
    background: #333;
    color:#FFF;
    height: 40px;
    text-align:center;
}

table tbody td{
    width: 10%;
    height: 40px;
    text-align:center;
    
}





